/*----------------------------------------------------------------------------*\
    $NAV
    Various navigation objects
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    /* Primary navigation
    \*------------------------------------------------------------------------*/

        .nav--primary {
            text-align: right;

            > ul > li {
                > a {
                    @include font-size($h5-size);
                    line-height: 2;
                    padding-left: .5em;
                    padding-right: .5em;
                    @include rem(border-radius, $space-half/2);
                }

                > a:hover,
                > a:active,
                &.current > a {
                    text-decoration: none;
                }
            }
        }

/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    @include media-query(palm) {
        .nav--primary {
            display: inline-block;
            text-align: left;
            vertical-align: top;

            li {
                display: block!important;
            }
        }
    }





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/