/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in blocss _defaults.scss that you do not wish
    to keep, simply redefine here. This means that if blocss, for example,
    sets your `$bfs` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file. Blocss ignores its own variables
    in favour of using your own, so you can completely modify how blocss
    works without ever having to alter the framework itself.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $MODULES
    All of blocss objects and abstractions are initially turned off by
    default. This means that you start any project with as little as possible,
    and introducing objects and abstractions is as simple as switching the
    following variables to `true`.
\*----------------------------------------------------------------------------*/

    $use-custom-forms:                  true;


/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override blocss defaults here.
\*----------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of blocss here.
\*----------------------------------------------------------------------------*/

    /* Toplevel
    \*------------------------------------------------------------------------*/

    $site-retain:                       980px!default;
    $base-color:                        #000000;

    /* FORMS
    \*------------------------------------------------------------------------*/

    /**
     * List of input types used in the form-fields mixin.
     */
    $input-types:   text,
                    password,
                    date,
                    datetime,
                    email,
                    number,
                    search,
                    tel,
                    time,
                    month,
                    week,
                    url,
                    textarea,
                    text-input
    !default;

    $color-error:   red;     
